body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    place-items: center;
}
.form-setup{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    max-width: 40em;
}
.form-setup * {
    padding: 5px;
}
.form-setup div{
    display: flex;
    flex-direction: column;
}
input{
    border: none;
    border-bottom: 1px solid black;
}
input:hover{
    border:none;
    border-bottom: 1px solid orange;
}
label{
    
}
.input-radio{
    display: flex;
    flex-direction: row;
}